<ons-page id="ONSApropos">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left">
      <span class="translate">about</span>
    </div>
    <div id="home" class="left" onclick="fn.open();">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h2 class="translate">aboutbuddyTeamLog</h2>
        &nbsp;
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col>
        <div id='feedAproposCustom'></div>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>
        <hr />
        <p class="translate">Pour le moment tout ceci n'est qu'une preuve de concept pour creuser une idée de Tybo pour simplifier la réalisation des fiches de sécu ...</p>
      </ons-col>
    </ons-row>


    <ons-row>
      <ons-col>
        <hr />
        <p class="translate">buddyTeamLog est développé par CAP-REL<br /><a href="https://cap-rel.fr">cap-rel.fr</a> || <a href="https://cap-rel.fr">cap-rel.fr</a></p>
      </ons-col>
    </ons-row>


    <div id="feedbuddyTeamLogInfos"></div>

  </div>

  <script type="text/javascript">
  </script>
</ons-page>
