<ons-page id="ONSdiverMe">
  <div id="container">
    <ons-row>
      <ons-col>
        <div id="interobjetsDouble"></div>
        <ons-input required modifier="underbar" float name="firstname" id="firstname" type="text" placeholder="Prénom" autocorrect="off" autocapitalize="off" spellcheck="false">
        </ons-input>

        <div id="interobjetsDouble"></div>
        <ons-input required modifier="underbar" float name="lastname" id="lastname" type="text" placeholder="Nom" autocorrect="off" autocapitalize="off" spellcheck="false">
        </ons-input>

        <div id="interobjetsDouble"></div>
        <ons-input required modifier="underbar" float name="email" id="email" type="text" placeholder="Adresse mail (non modifiable)" autocorrect="off" autocapitalize="off" spellcheck="false">
        </ons-input>

      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
    ons.ready(function () {
      txt = localGetData('me');
      json = JSON.parse(txt);
      $('#firstname').val(json.fn);
      $('#lastname').val(json.ln);
      $('#email').val(json.em);
    });
  </script>
</ons-page>