<ons-page id="ONSdiverBO">
    <div id="container">
        <ons-row>
            <ons-col>
                <div id="interobjetsDouble"></div>
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend class="translate">Bail Out 1</legend>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasType</legend>
                        <input name="bo1Type" id="bo1Type" type="text" placeholder="tx">
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasMix</legend>
                        <input name="bo1Mix" id="bo1Mix" type="number" placeholder="15-30">
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasVol</legend>
                        <span class="input-vol right">
                            <input name="bo1Vol" id="bo1Vol" type="number" placeholder="6.8">
                        </span>

                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasPress</legend>
                        <span class="input-pression right">
                            <input name="bo1Press" id="bo1Press" type="number" placeholder="260">
                        </span>

                    </div>
                </fieldset>

                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend class="translate">Bail Out 2</legend>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasType</legend>
                        <input name="bo2Type" id="bo2Type" type="text" placeholder="nx">
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasMix</legend>
                        <input name="bo2Mix" id="bo2Mix" type="number" placeholder="50">
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasVol</legend>
                        <span class="input-vol right">
                            <input name="bo2Vol" id="bo2Vol" type="number" placeholder="7">
                        </span>

                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasPress</legend>
                        <span class="input-pression right">
                            <input name="bo2Press" id="bo2Press" type="number" placeholder="200">
                        </span>

                    </div>
                </fieldset>

            </ons-col>
        </ons-row>
    </div>
    <script type="text/javascript">
        $('#bo1Type').val(json.bo[0].t);
        $('#bo1Mix').val(json.bo[0].m);
        $('#bo1Vol').val(json.bo[0].v);
        $('#bo1Press').val(json.bo[0].p);
        $('#bo2Type').val(json.bo[1].t);
        $('#bo2Mix').val(json.bo[1].m);
        $('#bo2Vol').val(json.bo[1].v);
        $('#bo2Press').val(json.bo[1].p);

    </script>
</ons-page>