<ons-page id="ONSdiverBase">
    <div id="container">
        <ons-row>
            <ons-col>
                <div id="interobjetsDouble"></div>
                <ons-input required modifier="underbar" float name="ccr" id="ccr" type="text" placeholder="CCR" autocorrect="off" autocapitalize="off" spellcheck="false">
                </ons-input>


                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend class="translate">diluent</legend>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasType</legend>
                        <input name="diluentType" id="diluentType" type="text" placeholder="air">
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasMix</legend>
                        <span class="input-vol right">
                            <input name="diluentMix" id="diluentMix" type="number" placeholder="15-30">
                        </span>
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasVol</legend>
                        <span class="input-vol right">
                            <input name="diluentVol" id="diluentVol" type="number" placeholder="3">
                        </span>
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasPress</legend>
                        <span class="input-pression right">
                            <input name="diluentPress" id="diluentPress" type="number" placeholder="180">
                        </span>
                    </div>
                </fieldset>

                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend class="translate">oxy</legend>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasVol</legend>
                        <span class="input-vol right">
                            <input name="oxyVol" id="oxyVol" type="number" placeholder="3">
                        </span>
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">tankGasPress</legend>
                        <span class="input-pression right">
                            <input name="oxyPress" id="oxyPress" type="number" placeholder="180">
                        </span>
                    </div>
                </fieldset>


            </ons-col>
        </ons-row>
    </div>
    <script type="text/javascript">
        $('#ccr').val(json.ccr);
        $('#diluentType').val(json.ccrdil.t);
        $('#diluentMix').val(json.ccrdil.m);
        $('#diluentVol').val(json.ccrdil.v);
        $('#diluentPress').val(json.ccrdil.p);
        $('#oxyVol').val(json.ccroxy.v);
        $('#oxyPress').val(json.ccroxy.p);

    </script>
</ons-page>