<ons-page id="ONSdiverMenu">
  <ons-toolbar modifier="material">
    <div id="titreBuddyTeamLog" class="left" onclick="">
      <span id="titreBuddyTeamLog">BuddyTeamLog</span>
    </div>
    <div id="home" class="left" onclick="fn.open()">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
  </ons-toolbar>
  <ons-tabbar swipeable position="auto">
    <ons-tab slug="me" page="diver-me.html" active>
      <input type="radio" style="display: none">
      <button class="tabbar__button">
        <div class="tabbar__icon">
          <ons-icon icon="md-face"></ons-icon>
        </div>
        <div class="tabbar__label translate">menuME</div>
      </button>
    </ons-tab>
    <ons-tab slug="base" page="diver-base.html">
      <input type="radio" style="display: none">
      <button class="tabbar__button">
        <div class="tabbar__icon">
          <ons-icon icon="md-case"></ons-icon>
        </div>
        <div class="tabbar__label translate">menuBase</div>
      </button>
    </ons-tab>
    <ons-tab slug="bailout" page="diver-bo.html">
      <input type="radio" style="display: none">
      <button class="tabbar__button">
        <div class="tabbar__icon">
          <ons-icon icon="md-battery"></ons-icon>
        </div>
        <div class="tabbar__label translate">menuBO</div>
      </button>
    </ons-tab>
    <ons-tab slug="diveplan" page="diver-plan.html">
      <input type="radio" style="display: none">
      <button class="tabbar__button">
        <div class="tabbar__icon">
          <ons-icon icon="md-settings"></ons-icon>
        </div>
        <div class="tabbar__label translate">menuPlan</div>
      </button>
    </ons-tab>
    <ons-tab slug="export" page="diver-export.html">
      <input type="radio" style="display: none">
      <button class="tabbar__button">
        <div class="tabbar__icon">
          <ons-icon icon="md-airplane"></ons-icon>
        </div>
        <div class="tabbar__label translate">menuExport</div>
      </button>
    </ons-tab>
  </ons-tabbar>
  <script type="text/javascript">
    function genQrCodeAndSave() {
      let json = {
        "fn": $('#firstname').val(),
        "ln": $('#lastname').val(),
        "em": $('#email').val(),
        "ccr": $('#ccr').val(),
        "ccrdil": {
          "t": $('#diluentType').val(),
          "m": $('#diluentMix').val(),
          "v": $('#diluentVol').val(),
          "p": $('#diluentPress').val()
        },
        "ccroxy": {
          "v": $('#oxyVol').val(),
          "p": $('#oxyPress').val()
        },
        "bo": [
          {
            "t": $('#bo1Type').val(),
            "m": $('#bo1Mix').val(),
            "v": $('#bo1Vol').val(),
            "p": $('#bo1Press').val()
          },
          {
            "t": $('#bo2Type').val(),
            "m": $('#bo2Mix').val(),
            "v": $('#bo2Vol').val(),
            "p": $('#bo2Press').val()
          }
        ],
        "plan": {
          "depth": $('#diveBottomDepth').val(),
          "time": $('#diveBottomTime').val(),
          "totalTime": $('#diveTotaTime').val(),
          "deco": [
            $('#diveDecoPlan').val(),
          ]
        }
      };

      let txt = JSON.stringify(json);
      let compressed = LZString.compressToEncodedURIComponent(txt);

      //On sauvegarde tout
      localStoreData("me", txt);

      myDebug("Generation QRCODE avec " + txt.length + " ou apres compression " + compressed.length);
      var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: compressed,
        width: 300,
        height: 300,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.M
      });
    };

    document.addEventListener('prechange', function (event) {
      let slug = event.tabItem.getAttribute('slug');
      myDebug("on est sur : " + slug);
      if (slug == "me") {
        myDebug("on est sur me");
      }
      if (slug == "export") {
        $('#qrcode').empty();
        genQrCodeAndSave();
      }
    });
  </script>
</ons-page>