<ons-page id="ONSdiverExport">
    <div id="container">
        <div id="qrcode"></div>
        <p>Présentez ce qrcode à l'organisateur...</p>
    </div>
    <script type="text/javascript">

    </script>
</ons-page>