<ons-page id="ONSdiverPlan">
    <div id="container">
        <ons-row>
            <ons-col>
                <input type="hidden" name="diveTotaTime" id="diveTotaTime" value="0">
                <input type="hidden" name="diveDecoPlan" id="diveDecoPlan" value="">
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend class="translate">diveTarget</legend>
                    <p>NOTE: algo de calcul de déco pour l'instant uniquement testé pour des plongées à l'air sur ccr (pas de réchap) !!!</p>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">diveBottomDepth</legend>
                        <span class="input-depth right">
                            <input name="diveBottomDepth" id="diveBottomDepth" type="number" placeholder="45" value="40">
                        </span>
                    </div>

                    <div style="display: flex; align-items: center;">
                        <legend class="translate">diveBottomTime</legend>
                        <span class="input-time right">
                            <input name="diveBottomTime" id="diveBottomTime" type="number" placeholder="40" value="70">
                        </span>
                    </div>
                </fieldset>


                <ons-button modifier="material large" onclick="computeDivePlan();">
                    <span class="translate">computeDivePlan</span>
                </ons-button>

                <ons-list id="diverPlanList">
                </ons-list>

            </ons-col>
        </ons-row>
    </div>
    <script type="text/javascript">

        function convertNumToTime(number) {
            // Check sign of given number
            var sign = (number >= 0) ? 1 : -1;

            // Set positive value of number of sign negative
            number = number * sign;

            // Separate the int from the decimal part
            var hour = Math.floor(number);
            var decpart = number - hour;

            var min = 1 / 60;
            // Round to nearest minute
            decpart = min * Math.round(decpart / min);

            var minute = Math.floor(decpart * 60) + '';

            // Add padding if need
            if (minute.length < 2) {
                minute = '0' + minute;
            }

            // Add Sign in final result
            sign = sign == 1 ? '' : '-';

            // Concate hours and minutes
            time = sign + hour + ':' + minute;

            return time;
        }

        function computeDivePlan() {
            let totalTime = 0;
            myDebug("On lance computeDivePlan");
            var dive = require("/scuba-dive.js");
            var buhlmann = dive.deco.buhlmann();

            var plan = new buhlmann.plan(buhlmann.ZH16CTissues);
            //calcul de la fO2 et fHe pour ppo2 1.3 à cette profondeur
            let pabs = ($('#diveBottomDepth').val() / 10) + 1;
            let fo2bottom = (1.3 / pabs);
            let fhebottom = 0;
            plan.addBottomGas("ccr", fo2bottom, 0);
            myDebug("Ajout du melange fond ccr pour " + $('#diveBottomDepth').val() + "m : " + fo2bottom);
            // plan.addDecoGas("ccrdeco0", 0.40, 0);

            //Et ensuite on se pré-prépare autant de pseudo blocs de déco qu'on aura de palier à faire avec
            //un calcul de ppo2 optimal pour chaque palier
            for (let profondeur = 39; profondeur > 0; profondeur -= 3) {
                let pabs = (profondeur / 10) + 1;
                let fo2 = (1.3 / pabs);
                if(profondeur <= 6) {
                    fo2 = 0.95
                }
                if(profondeur <= 5) {
                    fo2 = 1
                }
                let fhe = 0;
                plan.addDecoGas("ccrdeco-" + profondeur, fo2, fhe);
                myDebug("Ajout d'un bloc de deco virtuel pour " + profondeur + "m : " + fo2);
            }
            //Puis a partir de 6m on passe a 100% oxy
            // myDebug("Ajout d'un bloc de deco virtuel pour 6m : 1.5");
            // plan.addDecoGas("ccrdecooxy", 1.6, 0);

            // plan.addDecoGas("ccrdeco1", 0.50, 0);
            // plan.addDecoGas("ccrdeco2", 0.60, 0);
            // plan.addDecoGas("ccrdeco3", 0.70, 0);
            // plan.addDecoGas("ccrdeco4", 0.80, 0);
            // plan.addDecoGas("ccrdeco5", 0.90, 0);
            // plan.addDecoGas("ccrdeco6", 1, 0);
            // plan.addDecoGas("ccrdeco7", 1.3, 0);
            // plan.addDecoGas("ccrdeco8", 1.6, 0);
            let timeToDown = Math.ceil($('#diveBottomDepth').val() / 20);
            plan.addDepthChange(0, $('#diveBottomDepth').val(), "ccr", timeToDown);
            plan.addFlat($('#diveBottomDepth').val(), "ccr", $('#diveBottomTime').val() - timeToDown);
            // plan.addDepthChange($('#diveBottomDepth').val(), $('#diveBottomDepth').val(), "21%", $('#diveBottomTime').val());
            myDebug("On lance le calcul ...");
            var decoPlan = plan.calculateDecompression(true, 0.45, 0.75, 1.3, 30);
            myDebug("Calcul terminé : ");
            myDebug(JSON.stringify(decoPlan));

            let synthese = [];
            let lastStop = null; //Pour faire la somme des secondes entre les paliers
            for (let i = 0; i < decoPlan.length; i++) {
                totalTime += decoPlan[i].time;
                myDebug("pour i=" + i + " depth=" + decoPlan[i].endDepth + " et time=" + decoPlan[i].time);
                let depth = decoPlan[i].endDepth;
                let modulo = depth % 3;
                //On est peut-être sur un palier ou sur la prof de plongée
                if (modulo == 0) {
                    if (depth != $('#diveBottomDepth').val()) {
                        lastStop = depth;
                    }
                }
                else {
                    if (lastStop != null) {
                        depth = lastStop;
                        // myDebug("pour i=" + i + " modulo 3 > 0, on ajoute le temps au palier " + lastStop);
                    }
                }
                let val = parseFloat(decoPlan[i].time);
                let sec = 0;

                if (val != NaN) {
                    //conversion au passage
                    let dec = (val % 1);
                    let ent = (val - dec) * 60;
                    sec = dec * 100 + ent;
                    // myDebug("calcul: " + val + " dec = " + dec + " ent = " + ent + " sec = " + sec + " donc res=" + (sec/60) + " arrondis a " + Math.round(sec/60));
                }

                if (synthese[depth] == null) {
                    synthese[depth] = sec;
                }
                else {
                    synthese[depth] += sec;
                }
                // synthese.push({ "Depth": depth, "time": val });
            }
            $('#diveTotaTime').val(totalTime);

            myDebug("Synthèse:");
            //Et on reboucle
            $('#diverPlanList').empty();

            let h = "";
            let diveDecoPlan = "";
            for (let j = synthese.length; j > 1; j--) {
                if (!isNaN(synthese[j])) {
                    let tps = Math.ceil(synthese[j] / 60);
                    if (j == $('#diveBottomDepth').val()) {
                        h += "<ons-list-item tappable><div class='center'>Tps fond " + tps + " min à " + j + "m</div></div></ons-list-item>\n";
                    }
                    else if (tps > 0) {
                        h += "<ons-list-item tappable><div class='center'> stop à " + j + "m pour " + tps + " min</div></div></ons-list-item>\n";
                    }
                    if (diveDecoPlan != "")
                        diveDecoPlan += ',';
                    diveDecoPlan += "{'d':'" + j + "', 't':'" + tps + "'}";
                    // myDebug("stop à " + j + " pour " + Math.round(synthese[j]) + " min");
                }
            }
            $('#diverPlanList').append(h);
            $('#diveDecoPlan').val(diveDecoPlan);
            console.log("===============");
            console.log($('#diveDecoPlan').val());
            console.log("+++++++++++++++");

            // myDebug(synthese);
        }
    </script>
</ons-page>