<ons-page id="ONSdpDivers">
    <ons-fab position="bottom right">
        <ons-icon icon="md-plus" onclick='createDiver();'></ons-icon>
    </ons-fab>

    <div id="container">
        <ons-row>
            <ons-col>
                <ons-list id="dpDiversList">
                </ons-list>
            </ons-col>
        </ons-row>
    </div>

    <script type="text/javascript">
        function scanQRCode() {
            cordova.plugins.barcodeScanner.scan(
                function (result) {
                    myDebug('Scan ok ' + result.text);
                    let j = JSON.parse(result.text);

                    let listeDivers = localGetData('dpDiversList');
                    if (listeDivers) {
                        jsonListeDivers = JSON.parse(listeDivers);
                    }
                    else {
                        jsonListeDivers = [];
                    }
                    jsonListeDivers.push(result.text);
                    localStoreData('dpDiversList', JSON.stringify(jsonListeDivers));

                    //On ajoute une entrée a la liste
                    refreshDiverList();
                    // let h = "<ons-list-item onclick='showDiverDetails(" + (jsonListeDivers.length - 1) + ")' tappable>" + j.fn + " " + j.ln + " - " + j.ccr + " (" + j.ccrdil.t + ")<ons-button onclick='deleteDiver(" + id + ")'>rm</ons-button></ons-list-item>\n";
                    // $('#dpDiversList').append(h);
                },
                function (error) {
                    // alert("Scanning failed: " + error);
                    let j = { "fn": "Eric", "ln": "Seigne", "em": "eric@videosub.fr", "ccr": "rEvo Titanium", "ccrdil": { "t": "air", "v": "3", "p": "180" }, "ccroxy": { "v": "3", "p": "150" }, "bo": [{ "t": "tx", "m": "", "v": "6.7", "p": "260" }, { "t": "nx", "m": "50", "v": "7", "p": "200" }] };
                    myDebug("Utilisation d'un exemple de démo: " + j);

                    let listeDivers = localGetData('dpDiversList');
                    if (listeDivers) {
                        jsonListeDivers = JSON.parse(listeDivers);
                    }
                    else {
                        jsonListeDivers = [];
                    }
                    jsonListeDivers.push(j);
                    localStoreData('dpDiversList', JSON.stringify(jsonListeDivers));

                    //On ajoute une entrée a la liste
                    let h = "<ons-list-item onclick='showDiverDetails(" + (jsonListeDivers.length - 1) + ")' tappable>" + j.fn + " " + j.ln + " - " + j.ccr + " (" + j.ccrdil.t + ")</ons-list-item>\n";
                    $('#dpDiversList').append(h);

                    //la liste des palanquees
                    h = "";
                    h += "<ons-list-item tappable>\n";
                    h += "      <label class=\"left\"><ons-checkbox input-id=\"" + j.fn + "\" value=\"" + btoa(JSON.stringify(j)) + "\"></ons-checkbox></label>\n";
                    h += "      <label for=\"" + j.fn + "\" class=\"center\">" + j.fn + "</label>\n";
                    h += "</ons-list-item>\n";
                    $('#dpTeamsListA').append(h);

                },
                {
                    preferFrontCamera: false, // iOS and Android
                    preferCancel: true, // Android
                    preferPrompt: false, // Android
                    showFlipCameraButton: true, // iOS and Android
                    showTorchButton: false, // iOS and Android
                    torchOn: false, // Android, launch with the torch switched on (if available)
                    saveHistory: false, // Android, save scan history (default false)
                    prompt: trans("pleaseFlashQRCode"), // Android
                    resultDisplayDuration: 5, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
                    formats: "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
                    orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
                    disableAnimations: true, // iOS
                    disableSuccessBeep: false // iOS and Android
                }
            );
        }

        function createDiver() {
            scanQRCode();
        }

        function refreshDiverList(id) {
            $('#dpDiversList').empty();
            let listeDivers = localGetData('dpDiversList');
            if (listeDivers) {
                jsonListeDivers = JSON.parse(listeDivers);
                for (let i = 0; i < jsonListeDivers.length; i++) {
                    let j = JSON.parse(jsonListeDivers[i]);
                    let h = "<ons-list-item onclick='showDiverDetails(" + i + ")' tappable><div class='center'>" + j.fn + " " + j.ln + " - " + j.ccr + " (" + j.ccrdil.t + ")</div><div class='right'><ons-button onclick='deleteDiver(" + i + ")'><ons-icon icon='md-delete'></ons-icon></ons-button></div></ons-list-item>\n";
                    $('#dpDiversList').append(h);
                }
            }
        }

        function deleteDiver(id) {
            let listeDivers = localGetData('dpDiversList');
            if (listeDivers) {
                jsonListeDivers = JSON.parse(listeDivers);
                jsonListeDivers.splice(id, 1);
                localStoreData('dpDiversList', JSON.stringify(jsonListeDivers));
                refreshDiverList();
            }
        }

        function showDiverDetails(id) {
            var dialog = document.getElementById('dialog-diverDetails');

            let listeDivers = localGetData('dpDiversList');
            if (dialog) {
                if (listeDivers) {
                    jsonListeDivers = JSON.parse(listeDivers);
                    myDebug("on doit extraire les données de " + id);
                    myDebug(jsonListeDivers[id]);
                    json = JSON.parse(jsonListeDivers[id]);

                    let keys = ['ln', 'fn', 'em', 'ccr'];
                    for (let key of keys) {
                        myDebug("pour " + key + " : " + json[key]);
                        $('#diverDetail' + key).empty();
                        $('#diverDetail' + key).append(json[key]);
                    }

                    let ccrkeys = ['ccrdil', 'ccroxy'];
                    keys = ['t', 'v', 'p'];
                    for (let ccrkey of ccrkeys) {
                        for (let key of keys) {
                            $('#' + ccrkey + key).empty();
                            $('#' + ccrkey + key).append(json[ccrkey][key]);
                        }
                    }

                    //bail outs
                    for (let i = 0; i < json.bo.length; i++) {
                        keys = ['t', 'm', 'v', 'p'];
                        for (let key of keys) {
                            $('#bo' + i + key).empty();
                            $('#bo' + i + key).append(json.bo[i][key]);
                        }
                    }

                }
                dialog.show();
            }
        }

        function hideDiverDetails() {
            dialog = document.getElementById('dialog-diverDetails');
            dialog.hide();
        };

        ons.ready(function () {
            refreshDiverList();
        });
    </script>
</ons-page>