<ons-page id="ONSdpMenu">
    <ons-toolbar modifier="material">
        <div id="titreBuddyTeamLog" class="left" onclick="">
            <span id="titreBuddyTeamLog">BuddyTeamLog</span>
        </div>
        <div id="home" class="left" onclick="fn.open()">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
    </ons-toolbar>
    <ons-tabbar swipeable position="auto">
        <ons-tab page="dp-divers.html" slug="divers" label="Divers" icon="md-account-add" active>
        </ons-tab>
        <ons-tab page="dp-teams.html" slug="teams" label="Teams" icon="md-account" active-icon="md-account">
        </ons-tab>
        <ons-tab page="dp-plan.html" slug="plan" label="Plan" icon="md-settings" active-icon="md-settings">
        </ons-tab>
        <ons-tab page="dp-tools.html" slug="tools" label="Tools" icon="md-battery" active-icon="md-battery">
        </ons-tab>
    </ons-tabbar>
    <script type="text/javascript">
        ons.createElement('dialogs/dialog-diverDetails.html', { append: true });
    </script>
</ons-page>