<ons-page id="ONSdiverPlan">
    <div id="container">
        <ons-row>
            <ons-col>
                <p>Planification des plongées (à réfléchir)</p>
                <ul>
                    <li>Site de plongée</li>
                    <li>Nom du DP</li>
                    <li>etc.</li>
                </ul>
            </ons-col>
        </ons-row>
    </div>
    <script type="text/javascript">
    </script>
</ons-page>