<ons-page id="ONSdiverPlan">
    <ons-fab position="bottom right">
        <ons-icon icon="md-lock" onclick='createTeam();'></ons-icon>
    </ons-fab>

    <div id="container">
        <ons-row>
            <ons-col>
                <p>Création des palanquées en associant des plongeurs (à faire)</p>

                <ons-list id="dpTeamsListA">
                </ons-list>

                <ons-list-header>Teams</ons-list-header>
                <ons-list id="dpTeamsListB">
                </ons-list>
            </ons-col>
        </ons-row>
    </div>
    <script type="text/javascript">

        function createTeam() {
            let checkedBoxes = document.querySelectorAll('.checkbox__input:checked');
            if (checkedBoxes.length > 0) {
                checkedBoxes.forEach(e => {
                    let val = JSON.parse(atob(e.value));
                    console.log(val + " :: " + val.fn + " :: " + val.ccr);
                });
            }
            else {
                ons.notification.toast(trans('pleaseSelectTagsBefore'), { timeout: 2000, animation: 'fall' });
            }

        }
    </script>
</ons-page>