<ons-page id="loadingPage">
    <div style="text-align: right;">
        <h1 style="font-size: 200%; padding: 0; margin-top: 100px;">buddyTeamLog</h1>
    </div>
    <div style="text-align: center">
        <p>
            <ons-icon icon="md-spinner" size="45px" spin></ons-icon>
        </p>
        <p class="translate" id="loadingmessage">loadingInProgress</p>
        <p><i id="loadingStep"></i></p>
    </div>
</ons-page>
