<ons-page id="ONSlogin">
    <ons-toolbar>
        <div class="center">buddyTeamLog</div>
    </ons-toolbar>

    <div class="container">
        <form id="leformLogin">
            <ons-row style="margin-top:15px;">
                <ons-col>

                    <ons-button modifier="material large" onclick="gotoPage('diver-menu.html');" class="menubutton">
                        <span class="menulabel translate">diver</span>
                    </ons-button>

                    <ons-button modifier="material large" onclick="gotoPage('dp-menu.html');" class="menubutton">
                        <span class="menulabel translate">dp</span>
                    </ons-button>

                </ons-col>
            </ons-row>
        </form>
    </div>


    <script>
    </script>
</ons-page>