<ons-page id="ONSSplitter">
  <ons-toolbar modifier="material">
    <div id="titrebuddyTeamLogMenu" class="left">
      <span id="titrebuddyTeamLogMenu">buddyTeamLog</span>
    </div>
    <div id="home" class="left">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
  </ons-toolbar>
  <ons-list>
    <ons-list-item onclick="gotoPage('index.html');" tappable modifier="nodivider">
      <span class="translate">home</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('apropos.html');" tappable modifier="nodivider">
      <span class="translate">about</span>
    </ons-list-item>
    <ons-list-item onclick="closeSession();" tappable modifier="nodivider">
      <span class="translate">closeSession</span>
    </ons-list-item>
  </ons-list>
</ons-page>