<ons-dialog id="dialog-diverDetails">
    <div style="padding: 10px;">
        <p>
            <span id="diverDetailfn"></span> <span id="diverDetailln"></span>
        </p>
        <p>CCR: <span id="ccr"></span> <span id="ccrdilt"></span> <span id="ccrdilv"></span>l@<span id="ccrdilp"></span>b / <span id="ccroxyv"></span>l@<span id="ccroxyp"></span>b</p>
        <p>B.O 1: <span id="bo1t"></span> <span id="bo1m"></span> <span id="bo1v"></span>l@<span id="bo1p"></span>b</p>
        <p>B.O 2: <span id="bo2t"></span> <span id="bo2m"></span> <span id="bo2v"></span>l@<span id="bo2p"></span>b</p>
        <p>
            <ons-button onclick="hideDiverDetails()">Close</ons-button>
        </p>
    </div>
</ons-dialog>