h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
}

h3 {
  text-align: center;
}

h4 {
  text-align: left;
  padding-top: 10px;
}

select.error,
textarea.error,
input.error {
  border-color: #ff0000;
}

ons-input,
ons-radio,
ons-checkbox,
ons-search-input {
  width: 100%;
}

input,
radio,
checkbox,
search-input {
  width: 100%;
}

.search-input {
  background-position: calc(100% - 20px);
  width: calc(100% - 25px);
}

.alert-dialog-content,
.alert-dialog-content ul {
  text-align: left;
}

ons-select {
  width: 100%;
}

/* ons-row {
  margin-top: 5px;
} */

#sablier {
  display: unset;
  padding-top: 50%;
}
#sablier .modal__content {
  display: unset;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: unset;
  background: unset;
}

.button:active {
  background: unset;
}

@media (min-width: 300px) {
  /* #ladate {
    width: 200px;
  } */
  /* #depart, #arrivee, #label {
    width: 260px;
  }
  label[for=ht], label[for=ttc], label[for=tvaVal1], label[for=tvaVal2], label[for=tvaVal3], label[for=tvaVal4], label[for=distance] {
    width: 40px;
    top: 10px;
  }
  #ht, #ttc, #tvaVal1, #tvaVal2, #tvaVal3, #tvaVal4, #distance {
    width: 260px;
  } */
  #listeObjets,
  .listeVille {
    width: 260px;
  }
  .menubutton {
    min-height: 50px;
    line-height: 40px;
    font-size: 13px;
  }
  .menubutton .zmdi {
    font-size: +250%;
    top: 5px;
    margin-right: -5px;
  }
  .zmdi-search {
    font-size: +200%;
  }
}

@media (min-width: 340px) {
  /* #ladate {
    width: 230px;
  } */
  /* #depart, #arrivee, #label {
    width: 280px;
  }
  label[for=ht], label[for=ttc], label[for=tvaVal1], label[for=tvaVal2], label[for=tvaVal3], label[for=tvaVal4], label[for=distance] {
    width: 40px;
    top: 10px;
  }
  #ht, #ttc, #tvaVal1, #tvaVal2, #tvaVal3, #tvaVal4, #distance {
    width: 280px;
  } */
  #listeObjets,
  .listeVille {
    width: 150px;
  }
  .menubutton {
    min-height: 60px;
    line-height: 50px;
  }
  .menubutton .zmdi {
    font-size: +300%;
    top: 10px;
    margin-right: 0px;
  }
  .zmdi-search {
    font-size: +200%;
  }
}

@media (min-width: 400px) {
  /* #ladate {
    width: 230px;
  } */
  /* #depart, #arrivee, #label {
    width: 280px;
  }
  label[for=ht], label[for=ttc], label[for=tvaVal1], label[for=tvaVal2], label[for=tvaVal3], label[for=tvaVal4], label[for=distance] {
    width: 40px;
    top: 10px;
  }
  #ht, #ttc, #tvaVal1, #tvaVal2, #tvaVal3, #tvaVal4, #distance {
    width: 280px;
  } */
  #listeObjets,
  .listeVille {
    width: 150px;
  }
  .menubutton {
    min-height: 85px;
    line-height: 85px;
  }
  .menubutton .zmdi {
    font-size: +400%;
    top: 15px;
    margin-right: 10px;
  }
  .zmdi-search {
    font-size: +200%;
  }
}

/* input[type="date"] {
  font-size: 150%;
} */
/* #ladate {
  float: right;
  width: unset;
  margin-right: 20px;
} */
/* label[for="ladate"],
label[for="objet"] {
  float: left;
  font-size: 2rem;
  width: 25%;
} */

#feedVehicules {
  clear: both;
  padding-top: 8px;
}

#feedPaiements {
  clear: both;
  padding-top: 8px;
}

#feedBuddyTeamLogInfos {
  padding-top: 40px;
  padding-left: 8px;
  font-style: italic;
  display: unset;
}

/* #depart, #arrivee, #label {
  float: left;
}

label[for=ht], label[for=ttc], label[for=tvaVal1], label[for=tvaVal2], label[for=tvaVal3], label[for=tvaVal4], label[for=distance] {
  float: right;
  position: relative;
}

#ht, #ttc, #tvaVal1, #tvaVal2, #tvaVal3, #tvaVal4, #distance {
  float: left;
} */

#listeObjets,
.listeVille {
  float: right;
  margin-top: -14px;
}

#interobjets {
  clear: both;
  padding-top: 0.8em;
}

#interobjetsDouble {
  clear: both;
  padding-top: 1.4em;
}

.page,
.page__background,
.page__content {
  background-color: #fff;
}

.page[status-bar-fill] > .toolbar--material:not(.toolbar-transparent) + .page__background,
.page[status-bar-fill] > .toolbar--material:not(.toolbar--cover-content) + .page__background + .page__content {
  top: 44px;
}

.toolbar.toolbar--material + .page__background {
  top: 44px;
}

.toolbar-button--material {
  padding: 0 6px;
}

.menulabel {
  position: absolute;
  top: 4px;
  margin-left: 2em;
}

.menubutton {
  text-align: left;
}

th,
td {
  padding: 4px 0px 0px 4px;
}

#smallImage {
  max-height: 200px;
  max-width: 40%;
  padding-bottom: 10px;
}

#verySmallImage {
  max-height: 50px;
  padding-bottom: 10px;
}

#photoFacturette {
  visibility: hidden;
  display: none;
}

.list {
  background: unset;
  background-image: unset;
  background-size: unset;
}

#server {
}

#ldfId {
  display: inline;
}

// ----------------------------------- select
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: #fff url("https://anselmurban.de/codepen-img/select-arrows.svg") no-repeat right 16px center;
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 1.6rem;
}
.custom-select:hover {
  border: 1px solid #999;
}
.custom-select:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
  display: none;
}

.big {
  font-size: 400%;
  float: right;
}

#home {
  font-size: 28px;
  margin-left: 10px;
  margin-top: 10px;
}

#homeLogo {
  max-width: 135px;
  margin-top: -5px;
  max-height: 35px;
}

#titreBuddyTeamLog {
  font-size: 38px;
  margin-top: 4px;
  line-height: unset;
  font-family: sans-serif;
  font-weight: 600;
}

#titreBuddyTeamLogMenu {
  margin-left: 8px;
}

#titreNav {
  padding-left: 10px;
}

#menuHautDroite {
  font-size: 28px;
  /* margin-top: 10px; */
  min-width: unset;
  width: auto;
}

#menuHautDroite ons-icon {
  font-size: 30px;
}

.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
}

.input-container .unit {
  position: absolute;
  display: block;
  top: 10px;
  right: -3px;
  padding-left: 5px;
  width: 45px;
}

/* password */

.field-pass-icon {
  /* float: left;
  margin-left: 50px;
  margin-top: -25px;
  margin-right: 50px; */
  position: relative;
  z-index: 2;
}

#upload-progress {
  height: 25px;
  background-color: grey;
}

.progress-bar {
  height: 25px;
  background-color: dodgerblue;
}

.feedVehicules {
  clear: both;
  padding-top: 8px;
}

.toolbar {
  padding-top: 0px;
  margin-top: 0px;
  height: 45px;
}

.page[status-bar-fill] > .toolbar {
  padding-top: 0px;
}

#container {
  margin-left: 10px;
  margin-right: 10px;
}

.text-input:invalid {
  border: 1px solid #d1d1d1;
}

.blink {
  color: #888888 !important;
  background: #fafafa !important;
}

fieldset {
  padding: 0.3em;
  margin: unset;
}

#diluentType,
#diluentVol,
#diluentPress,
#oxyVol,
#oxyPress,
#bo1Type,
#bo1Mix,
#bo1Vol,
#bo1Press,
#bo2Type,
#bo2Mix,
#bo2Vol,
#bo2Press,
#diveBottomDepth,
#diveBottomTime,
#tvaVal4 {
  max-width: 120px;
  margin-left: auto;
}

.input-pression {
  position: relative;
  margin-left: auto;
}
.input-pression.left input {
  padding-left: 18px;
}
.input-pression.right input {
  padding-right: 2em;
  text-align: end;
}

.input-pression:before {
  position: absolute;
  top: 0;
  content: "bar";
}
.input-pression.left:before {
  left: 5px;
}
.input-pression.right:before {
  right: 5px;
}

.input-vol {
  position: relative;
  margin-left: auto;
}
.input-vol.left input {
  padding-left: 18px;
}
.input-vol.right input {
  padding-right: 2em;
  text-align: end;
}

.input-vol:before {
  position: absolute;
  top: 0;
  content: "lit.";
}
.input-vol.left:before {
  left: 5px;
}
.input-vol.right:before {
  right: 5px;
}

.input-percent {
  position: relative;
  margin-left: auto;
}
.input-percent.left input {
  padding-left: 18px;
}
.input-percent.right input {
  padding-right: 18px;
  text-align: end;
}

.input-percent:before {
  position: absolute;
  top: 0;
  content: "%";
}
.input-percent.left:before {
  left: 5px;
}
.input-percent.right:before {
  right: 5px;
}

.input-depth {
  position: relative;
  margin-left: auto;
}
.input-depth.left input {
  padding-left: 18px;
}
.input-depth.right input {
  padding-right: 40px;
  text-align: end;
}

.input-depth:before {
  position: absolute;
  top: 0;
  content: "m";
}
.input-depth.left:before {
  left: 5px;
}
.input-depth.right:before {
  right: 5px;
}

.input-time {
  position: relative;
  margin-left: auto;
}
.input-time.left input {
  padding-left: 18px;
}
.input-time.right input {
  padding-right: 40px;
  text-align: end;
}

.input-time:before {
  position: absolute;
  top: 0;
  content: "min";
}
.input-time.left:before {
  left: 5px;
}
.input-time.right:before {
  right: 5px;
}

#contenuLDFImage {
  text-align: center;
}

.text-input--material__label--active {
  color: #1e88e5;
  font-size: larger;
}

:checked + .segment__button {
  background-color: #1e88e5;
  color: #fff;
}

.segment__button {
  color: #1e88e5;
  border: 1px solid #1e88e5;
}

.zmdib {
  color: #1e88e5;
}

span.deleteicon {
  position: relative;
}

span.deleteicon span.deleteicon2 {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  color: grey;
}

/* Dans le cas ou on a un bouton "nuage" à droite ... */
span.deleteicon span.deleteicon3 {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  color: grey;
}

/* Dans le cas où on est sur la liste des comptes / identités ... */
span.deleteiconAccount {
  float: right;
}
span.deleteiconAccount span.deleteiconAccount2 {
  cursor: pointer;
  color: grey;
}

.automatique {
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #1e88e5;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: auto;
  margin-right: 2em;
  float: right;
}

.tvaauto {
  width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  text-transform: unset;
  white-space: unset;
}

label[for="element-toggle"] {
  cursor: pointer;
}
#element-toggle {
  display: none;
}
#element-toggle:not(:checked) ~ #toggled-element {
  display: none;
}
